<div class="row row-contain">
  <div class="col-12 col-contain">
    <section>
      <img [src]="img_1" alt="" id="img_1" class="img-1">
      <!-- <img [src]="img_2" alt="" id="img_2" class="img-2"> -->
      <img [src]="img_3" alt="" id="img_3" class="img-3">
      <img [src]="img_4" alt="" id="img_4" class="img-4">
      <!-- <img [src]="img_5" alt="" class="img-5"> -->
      <h3 id="txt_title" class="txt-title">
        <span>
          Easy
        </span>
        Stay
      </h3>
    </section>
    <div class="contain-about">
      <p class="txt-about">
        Lời giới thiệu
      </p>
      <p>
        Chào mừng bạn đến với hệ thống Easystay (từ đây được gọi bằng "Trang Web", “Website”).
        Mục đích chính và duy nhất của website này là cung cấp sàn giao dịch thương mại điện tử
        trực tuyến nhằm cung cấp thông tin của chỗ ở cho dịch vụ cho thuê lưu trú du lịch ngắn
        hạn cho những người đang tìm kiếm để thuê những nơi như vậy (gọi chung là "Dịch vụ"). Các
        cụm từ "chúng tôi", "của chúng tôi," và "Easystay" được sử dụng dưới đây sẽ được sử dụng
        đại diện cho Easystay, trong khi thuật ngữ "bạn" đề cập đến những khách hàng đang truy
        cập, đã truy cập và sử dụng thông tin từ Website.
        <br><br>
        Các tổ chức, hay cá nhân đã, đang và sẽ tham gia giao dịch trên sàn giao dịch thương mại điện
        tử Easystay, sẽ sẵn sàng tham gia giao dịch với một thái độ tôn trọng quyền và lợi ích của
        nhau, một cách hợp pháp nhờ có các hợp đồng và không trái với các quy định của pháp luật.
        <br><br>
        Chúng tôi cung cấp thông tin trong các bài đăng trên Website với mục đích hỗ trợ kết nối thực
        hiện mong muốn thuê chỗ ở của Khách Hàng và Chủ Nhà. Các thông tin đã được đăng trên
        Easystay.com.vn cần phải được tuân thủ theo tất cả các luật áp dụng (nếu có), không đăng
        những thông tin hoặc sản phẩm bị cấm bởi pháp luật.
        <br><br>
        Chúng tôi cũng hoạt động như một kênh giao tiếp giữa Chủ Nhà và Khách hàng để có thể giải quyết
        bất kỳ tranh chấp nào giữa hai bên. Việc sử dụng Website và dịch vụ trên đó cần phải được thực
        hiện một cách công khai và minh bạch để đảm bảo quyền lợi và sự an toàn của các bên. Các bên
        chịu trách nhiệm cho tất cả các chi phí liên quan với việc sử dụng Website hoặc Dịch vụ (nếu có).
      </p>
    </div>
  </div>
</div>
