$clr-white:#fff;
$clr-white1:#f2f2f2;
$clr-white2:#e6e6e6;
$clr-white3:#d9d9d9;
$clr-white4:#cccccc;
$clr-white5: #bfbfbf;
$clr-white6: #b3b3b3;
$clr-black: #000;
$clr-black1:#0d0d0d;
$clr-black2:#1a1a1a;
$clr-black3:#262626;
$clr-black4:#333333;
$clr-black5: #404040;
$clr-black6: #4d4d4d;
$clr-green: #00e600;
@mixin size-responsive($w, $h) {
  width: $w;
  height: $h;
}

.contain-login {
  @include size-responsive(100%, auto);
  padding: 7% 2%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: $clr-white;
  border-radius: 5px;
  .txt-login {
    @include size-responsive(100%, auto);
    font-size: 150%;
    text-align: center;
  }
  .input-fill-in {
    @include size-responsive(100%, auto);
    background-color: $clr-black4;
    border: 1px solid $clr-black4;
    font-style: italic;
    color: $clr-white;
  }
  .txt-mess {
    color: red;
  }
  .input-chbox {
    font-size: 90%;
  }
  .btn-login {
    @include size-responsive(100%, auto);
  }
  .row-contain-forgot-password {
    @include size-responsive(100%, auto);
    margin: 0;
    .col {
      @include size-responsive(100%, auto);
      padding: 0;
      .a-forgot-pass {
        color: red;
        float: right;
      }
    }

  }
}
