<div class="row row-contain">
  <div class="col-12 col-contain">
    <div class="contain-img-bg">
      <img [src]="imgBgContact" alt="" class="img-contact">
      <div class="contain-contact">
        <div class="contain-txt-contact">
          <div class="contain-left">
            <span>
              Liên hệ với chúng tôi
            </span>
          </div>
          <div class="contain-right">
            <span>
              <span>
                <i class='fas fa-phone'></i> :
              </span>
              0889866666
            </span>
            <span>
              <span>
                <i class="fab fa-google-plus-g"></i> :
              </span>
              info@luxstay.com
            </span>
            <div class="contain-icon">
              <div class="ic-link">
                <a [href]="linkFb">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="ic-link">
                <a [href]="linkInsta">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <div class="ic-link">
                <a [href]="linkYtube">
                  <i class="	fab fa-youtube"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
