<div class="contain">
  <form [formGroup]="changePassForm" (ngSubmit)="submitChangePass()">
    <div class="row row-contain">
      <div class="col col-contain">
        <label for="currentPass">Mật khẩu hiện tại</label>
        <br>
        <input type="password" name="currentPass" id="currentPass" class="input-fill-in" formControlName="currentPass"
          placeholder="mật khẩu 6 kí tự trở lên" required>
        <br>
        <label for="currentPass" class="message">{{messCurrentPass}}</label>
        <br><br>
        <label for="newPass">Mật khẩu mới</label>
        <br>
        <input type="password" name="newPass" id="newPass" class="input-fill-in" formControlName="newPass"
          placeholder="mật khẩu 6 kí tự trở lên" required>
        <br>
        <label for="newPass" class="message">{{messNewPass}}</label>
        <br><br>
        <label for="confirmNewPass">Xác nhận mật khẩu mới</label>
        <br>
        <input type="password" name="confirmNewPass" id="confirmNewPass" class="input-fill-in"
          formControlName="confirmNewPass" placeholder="mật khẩu 6 kí tự trở lên" required>
        <br>
        <label for="confirmNewPass" class="message">{{messConfirmNewPass}}</label>
        <br><br>
      </div>
    </div>
    <div class="row row-contain-btn-user-update">
      <button type="submit" class="btn btn-danger btn-user-update" [disabled]="!changePassForm.valid">
        Cập nhật
      </button>
    </div>
  </form>
  <!--toast message-->
    <div class="col-12 col-message" [ngClass]="{'displayMessage': displaySuccessMess, 'displayErrorMessage': displayErrorMess}">
      <div class="contain-toast">
        <div class="contain-message">
          <span>
            {{mess}}
          </span>
        </div>
      </div>
    </div>
</div>
