<div class="row row-contain">
  <div class="col-12 col-contain">
    <!---------------Img place--------------->
    <div class="row row-contain-img-place">
      <div class="contain-img-place">
        <img [src]="imgList.get('des'+currentDestinationName+'.jpg')" alt="">
        <div class="contain-txt-place">
          {{currentDestinationName}}
        </div>
      </div>
    </div>
    <!---------------Breadcrumb--------------->
    <div class="row row-breadcrumb">
      <ul class="breadcrumb">
        <li>
          <a [routerLink]="[ '/home']">
            Trang chủ
          </a>
        </li>
        <li>
          <a (click)="navigateToPlace(retrieveParams.currentProvinceId)">
            {{currentProvinceName}}
          </a>
        </li>
        <li>
          <a class="a-link-web" (click)="navigateSightSeeing(retrieveParams.currentProvinceId,retrieveParams.currentDestinationId)">
            {{currentDestinationName}}
          </a>
        </li>
      </ul>
    </div>
    <!---------------Search and sort--------------->
    <div class="row row-contain-search-and-sort">
      <div class="col col-left">
        <div class="row row-contain-search">
          <div class="col-12 col-contain-search">
            <input type="date" [(ngModel)]="bookingDate.startDate" name="startDate" id="startDate"
              min="{{year}}-{{month}}-{{day}}">
            <label>
              Đến
            </label>
            <input type="date" [(ngModel)]="bookingDate.endDate" name="endDate" id="endDate"
              min="{{year}}-{{month}}-{{day}}">
            <div type="button" class="btn btn-success btn-search-homestay" (click)="searchHomestayByDate()">
              <i class='fa fa-search'></i>
            </div>
          </div>
          <div class="col-12 col-mess-err">
            {{messErrorDate}}
          </div>
        </div>
        <div class="row row-contain-sort">
          <select class="select-type" name="typeHomestay" id="typeHomestay" (change)="searchHomestayByType($event)">
            <option value="all" disabled selected>
              Kiểu chỗ ở
            </option>
            <option value="all">
              Tất cả
            </option>
            <option value="{{type.value}}" *ngFor="let type of typeList">
              {{type.name}}
            </option>
          </select>

          <select class="select-price" name="sortByPrice" id="sortByPrice" (change)="searchHomestayByPrice($event)">
            <option id="-1" [value]="null" disabled selected>
              Sắp xếp theo giá
            </option>
            <option value="up">
              Giá tăng dần
            </option>
            <option value="down">
              Giá giảm dần
            </option>
          </select>
        </div>
      </div>
      <div class="col col-right">
        <!-- empty -->
      </div>
    </div>
    <div class="row row-txt-list-homestay">
      Danh sách homestay ({{homestays.length}})
    </div>
    <!---------------List homestay and info place--------------->
    <div class="row row-contain-list-homestay-and-info-place">
      <!---------------List homestay--------------->
      <div class="col-12 col-sm-8 col-list-homestay">
        <div class="row row-list-homestay">
          <!---------------Item homestay--------------->
          <div class="col-6 col-sm-4 col-md-3 col-card-homestay" *ngFor="let hs of homestays| paginate: {
            itemsPerPage: 16,
            currentPage: page,
            totalItems: homestays.length}"
            (click)="navigateToHomestayDetail(retrieveParams.currentProvinceId,retrieveParams.currentDestinationId, hs.id)">
            <div class="card-homestay">
              <div class="contain-img-homestay">
                <img [src]="imgList.get('homestay'+hs.homestayName+'.jpg')" alt="">
              </div>
              <div class="info-homestay">
                <span class="txt-name">
                  {{hs.homestayName}}
                </span>
                <span class="type-homestay">
                  <i class='fas fa-building'></i>
                  {{showTypeText(hs.homestayTypeName)}}
                </span>
                <span class="txt-price">
                  <i class='fas fa-money-bill-wave'></i>
                  {{currency.format(hs.cost)}}đ/ Đêm
                </span>
                <span class="txt-address">
                  <i class='fas fa-map-marker-alt'></i>
                  {{hs.address}}
                </span>
              </div>
            </div>
          </div>

        </div>
        <div class="row row-paging">
          <pagination-controls class="paging text-center" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!---------------Info place--------------->
      <div class="col-12 col-sm-4 col-info-place">
        <div class="row row-info-place">
          <!---------------List info blog--------------->
          <div class="col-12 col-item-info">
            <div class="row row-txt-blog">
              <span class="txt-title">
                Blog ở {{currentProvinceName}} - {{currentDestinationName}}
              </span>
            </div>
            <!---------------item blog--------------->
            <div class="row row-blog" (click)="navigateToBlogDetail(blog.id)" *ngFor="let blog of blogs">
              <div class="col-4 col-img">
                <img [src]="imgList.get('post'+blog.id+'.jpg')" alt="">
              </div>
              <div class="col col-txt-title">
                <span>
                  {{blog.postName}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
