$clr-red1: #ff6666;
$clr-red2: #ff9999;
$clr-white: #fff;
$clr-white1: #f2f2f2;
$clr-white2: #e6e6e6;
$clr-white3: #d9d9d9;
$clr-white4: #cccccc;
$clr-white5: #bfbfbf;
$clr-white6: #b3b3b3;
$clr-black: #000;
$clr-black1: #0d0d0d;
$clr-black2: #1a1a1a;
$clr-black3: #262626;
$clr-black4: #333333;
$clr-black5: #404040;
$clr-black6: #4d4d4d;
$clr-green: #00e600;
$clr-yellow:#ffcc00;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin obje($f, $p) {
    object-fit: $f;
    object-position: $p;
}

.head {
    @include size(100%, auto);
    margin: 3% 0 3% 0;
    .left {
        .tabl-left{
            td{
                padding: 1%;
            }
            select{
                @include size(100%, auto);
                padding: 2%;
                border: 1px solid black;
            }
            .txt-sort {
              font-size: 100%;
              font-weight: bolder;
            }
            .txt-sort:hover {
              text-decoration: underline;
              cursor: pointer;
            }
        }

    }
    .right{
      .err{
        margin-top: 2%;
        color: $clr-red1;
      }
      button {
        @include size(fit-content, auto);
        text-align: center;
      }
    }
}
table {
  @include size(100%, auto);
  thead {
    th {
      text-align: center;
    }
    .th-txt {
      text-align: left;
    }
  }
  tbody {
    tr:hover {
      background-color: $clr-yellow;
    }
    td {
      text-align: center;
    }
    .td-txt {
      text-align: left;
    }
    .td-over-size {
      max-width: 400px;
      overflow: auto;
    }
  }
}
.main-table {
  border-radius: 10px;
  background-color: $clr-white;
  box-shadow: 0 3px 8px 1px $clr-white3;
  thead {
    th {
      border: none;
    }
  }
}
.col-contain-paging {
    margin: auto;
}

/*----------------------Message----------------------*/
.col-message {
  padding: 0 40%;
  position: fixed;
  z-index: 100;
  right: 0;
  .contain-toast {
    margin: 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    .contain-message {
      padding: 1%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: $clr-white;
    }
    .contain-close {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      .btn-close {
        color: $clr-white;
      }
    }
  }
}
.displayMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:green;
  }
}
.displayWarnMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:orange;
  }
}
.displayErrorMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:red;
  }
}
@keyframes moveBoxMessage {
  0%   {
    display: none;
    top: 10%;
    opacity: 0;
  }
  20%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  80%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  100% {
    display: none;
    top: 10%;
    opacity: 0;
  }
}

.modal0, .modal1{
    .modal-body{
        select{
            @include size(100%, auto);
            padding: 1%;
        }
        .blogAva{
            @include size(50%, auto);
            margin: 2% 25% 2% 25%;
        }

    }
    .modal-footer{
        button{
            @include size(30%, auto);
            margin: 1% 35% 1% 35%;
        }
    }
}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {
    .contain{
        span,a{
            font-size: 140%;
        }
        table{
            font-size: 140%;
        }
        .head{
            .right{
                margin-top: 5%;
                .err{
                    font-size: 150%;
                }
            }
        }
    }

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 854px) {
    .contain{
        h1{
            text-align: center;
        }
        .modal0,.modal1{
            font-size: 150%;
        }
    }

}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 576px) {
    .contain{
        span,a{
            font-size: 100%;
        }
        h1{
            margin-top: 8%;
            font-size: 200%;
        }
        .head{
            .left {
              .tabl-left{
                .txt-sort {
                  font-size: 70%;
                }
              }
            }
            .right{
                .err{
                    font-size: 140%;
                }
            }
        }
        .main-table{
            @include size(170%, auto);
            font-size: 100%;
            background-color: $clr-white1;
        }
        .modal0, .modal1{
            @include size(60%, auto);
            margin: 0;
            .modal-body{
                padding: 4%;
            }
            .modal-footer{
                button{
                    width: 80%;
                    margin: 1% 10% 1% 10%;
                }
            }
        }
    }

}

@media only screen and (max-width: 320px) {

}
