$clr-red1: #ff6666;
$clr-red2: #ff9999;
$clr-white: #fff;
$clr-white1: #f2f2f2;
$clr-white2: #e6e6e6;
$clr-white3: #d9d9d9;
$clr-white4: #cccccc;
$clr-white5: #bfbfbf;
$clr-white6: #b3b3b3;
$clr-black: #000;
$clr-black1: #0d0d0d;
$clr-black2: #1a1a1a;
$clr-black3: #262626;
$clr-black4: #333333;
$clr-black5: #404040;
$clr-black6: #4d4d4d;
$clr-green: #00e600;
$clr-yellow:#ffcc00;
@mixin size($w, $h) {
  width: $w;
  height: $h;
}
.head {
  @include size(100%, auto);
  margin: 3% 0 3% 0;
  .row {
    margin-bottom: 3%;
  }
  .left {
    select {
      @include size(95%, auto);
      padding: 2%;
      margin: 3% 0 3% 0;
      border: 1px solid black;
    }
    .txt-sort {
      font-weight: bolder;
    }
    .txt-sort:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    button {
      @include size(fit-content, auto);
      margin: 3% 0 3% 0;
    }
  }
  .right {
    button {
      @include size(fit-content, auto);
    }
    .err {
      margin-top: 2%;
      color: $clr-red1;
    }
  }
}
.main-table {
  @include size(100%, auto);
  border-radius: 10px;
  background-color: $clr-white;
  box-shadow: 0 3px 8px 1px $clr-white3;
  thead {
    th {
      border: none;
      text-align: center;
    }
    .th-txt {
      text-align: left;
    }
  }
  tbody {
    tr:hover {
      background-color: $clr-yellow;
    }
    td {
      text-align: center;
      .btn {
        font-size: 100%;
      }
      .btn-display {
        font-size: 100%;
      }
      .contain-action {
        @include size(100%, auto);
        display: flex;
        justify-content: space-around;
      }
      .contain-accept-become-host {
        @include size(100%, auto);
        display: flex;
        justify-content: space-around;
        .btn {
          font-size: 100%;
        }
      }
    }
    .td-txt {
      text-align: left;
    }
  }
}
.col-contain-paging {
  margin: auto;
}

/*----------------------Message----------------------*/
.col-message {
  padding: 0 40%;
  position: fixed;
  z-index: 100;
  right: 0;
  .contain-toast {
    margin: 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    .contain-message {
      padding: 1%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: $clr-white;
    }
    .contain-close {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      .btn-close {
        color: $clr-white;
      }
    }
  }
}
.displayMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:green;
  }
}
@keyframes moveBoxMessage {
  0%   {
    display: none;
    top: 10%;
    opacity: 0;
  }
  20%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  80%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  100% {
    display: none;
    top: 10%;
    opacity: 0;
  }
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {
  .contain {
    .head {
      .left {
        select {
          margin-top: 5%;
        }
        button {
          padding: 3%;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 854px) {
  h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 576px) {
  .contain {
    margin-top: 5%;
    h1 {
      font-size: 150%;
    }
  }
}

@media only screen and (max-width: 320px) {

}
