<div class="row row-contain">
  <div class="col col-side" ></div>
  <div class="col col-sm-2 col-contain-left">
    <div class="row select-func">
      <div class="col-6 col-sm-12 option-func" [routerLink]="['/profile', 'edit']" routerLinkActive="border-act" [routerLinkActiveOptions]="{exact: true}">
        Thông tin tài khoản
      </div>
      <div class="col-6 col-sm-12 option-func" [routerLink]="['/profile', 'change-password']" routerLinkActive="border-act" >
        Thay đổi mật khẩu
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-contain-right">
      <router-outlet></router-outlet>
  </div>
  <div class="col col-side" ></div>
</div>
