$clr-yellow:#ffcc00;
$clr-white:#fff;
$clr-white1:#f2f2f2;
$clr-white2:#e6e6e6;
$clr-white3:#d9d9d9;
$clr-white4:#cccccc;
$clr-white5: #bfbfbf;
$clr-white6: #b3b3b3;
$clr-black: #000;
$clr-black1:#0d0d0d;
$clr-black2:#1a1a1a;
$clr-black3:#262626;
$clr-black4:#333333;
$clr-black5: #404040;
$clr-black6: #4d4d4d;
@mixin size-responsive($w, $h) {
  width: $w;
  height: $h;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $clr-white;
  border-radius: 10px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  top: 0;
  background: $clr-white6;
  border-radius: 10px;
}
