$clr-red1:#ff6666;
$clr-red2:#ff9999;
$clr-white:#fff;
$clr-white1:#f2f2f2;
$clr-white2:#e6e6e6;
$clr-white3:#d9d9d9;
$clr-white4:#cccccc;
$clr-white5: #bfbfbf;
$clr-white6: #b3b3b3;
$clr-black: #000;
$clr-black1:#0d0d0d;
$clr-black2:#1a1a1a;
$clr-black3:#262626;
$clr-black4:#333333;
$clr-black5: #404040;
$clr-black6: #4d4d4d;
$clr-green: #00e600;
$clr-yellow:#ffcc00;
@mixin size-responsive($w, $h) {
  width: $w;
  height: $h;
}

.contain {
  @include size-responsive(100%, auto);
  margin: 4% 0 0 0;
  padding: 2% 2% 5% 2%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: $clr-white;
  border-radius: 5px;
  .txt-register {
    @include size-responsive(100%, auto);
    font-size: 150%;
    text-align: center;
  }
  .input-fill-in {
    @include size-responsive(100%, auto);
    background-color: $clr-black3;
    border: 1px solid $clr-black3;
    font-style: italic;
    color: $clr-white;
  }
  .title-input {
    color: $clr-white;
  }
  .message {
    color: $clr-red1;
  }
  .btn-register {
    @include size-responsive(100%, auto);
  }
  /*----------------------Message----------------------*/
.col-message {
  padding: 0 40%;
  position: fixed;
  z-index: 100;
  right: 0;
  .contain-toast {
    margin: 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    .contain-message {
      padding: 1%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: $clr-white;
    }
    .contain-close {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      .btn-close {
        color: $clr-white;
      }
    }
  }
}
.displayMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:green;
  }
}
.displayWarnMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:orange;
  }
}
.displayErrorMessage {
  animation: moveBoxMessage 2s;
  .contain-toast {
    background-color:red;
  }
}
@keyframes moveBoxMessage {
  0%   {
    display: none;
    top: 10%;
    opacity: 0;
  }
  20%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  80%  {
    display: block;
    top: 12%;
    opacity: 1;
  }
  100% {
    display: none;
    top: 10%;
    opacity: 0;
  }
}
}
